@charset "UTF-8";
/* CSS Document */
body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    color: #FFF;
    scroll-behavior: smooth;

}

wrapper {
    width: 100%;
}

h1 {
    margin: 0;
    font-weight: 300;
}

.underline {
    border-bottom: 0.3em #FFF solid;
    transition: 0.7s;
    padding-bottom: 0.2em;
}
.underline:hover {
    border-bottom: 0.3em #00C0CC solid;
}

.bold {
    font-weight: 600;
}







.top {
    height: 780px;
    color: #000;
}


nav {
    text-align: right;
    margin-top: 0.5rem;
    margin-right: 1rem;
}


div.nav {
    display: inline-block;
    margin: 1em 1em;
    transition: 0.8s;
    padding-bottom: 0.2em;
    border-bottom: 0 #00C0CC solid;
    border-bottom-width: 0;
}
div.nav:hover {
    color: #00C0CC;
    border-bottom: 0.5em #00C0CC solid;
}
.first{
    margin: 200px 15% 180px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* spalten */
}

.topLogo {
    display: inline-block;
    width: 23em;
}

.claim {
    display: inline-block;
    vertical-align: bottom;
    margin-top: auto;
    font-size: 2.5rem;    
    text-align: right;
    transition: 0.8s;
}
.claim > p {
    margin:0;
}

.claim > p:hover:before {
    margin:0;
    content: "Ihre "
}

.point {
    font-size: 1.5rem;
    color: #00C0CC;
    vertical-align: baseline;
    padding-left: 0.1em;
}


div.pfeil {
    width: 4rem;
    margin: 280px auto;
}


/* Leistungen */

.leistungen {
    margin-top: 6em;
    background-color: #282B2B;
    width: auto;
    padding: 4em 15%;
}

.leistungenGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
}

.lead {
    margin: 6em 0 4em;
}

/* Referenzen */

.referenzen {
    padding:4em 0;
    color: #000;
}

.referenzenHead > h1 > span.underline {
    border-bottom-color: #000;
}

.referenzenHead {
    margin: 0 15% 2.5em;;
}

.referenzenGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
}
.referenz {
    height: 15rem;;
}

#ref1 {
    background-color: #1545B5;
}
#ref2 {
    background-color: #0A95AD;
}
#ref3 {
    background-color: #AC9DED;
}
#ref4 {
    background-color: #189A86;
}
#ref5 {
    background-color: #54A459;
}
#ref6 {
    background-color: #5B8BBC;
}
#ref7 {
    background-color: #397060;
}
#ref8 {
    background-color: #4099B6;
}

/* ueber uns */

.about {
    padding: 4em 15%;
    margin-top: 6em;
    color: #000;
}

.person {
    width: 6em;
}




.contact {
    margin-top: 6em;
    background-color: #282B2B;
    width: auto;
    padding: 3em 15%;
}


.messenger {

}


/* Auf- und zuklappen */

/* .messenger {
    position: relative;
    border-width: 0 0 thin 0;
	border-style: solid;
	border-color: rgba(227,145,37,1); 
	width: 100%;
	display: block;
	font-size: 1em;
} */
 
/* Ausblenden des input-Feldes */
.messenger input {
    position: absolute;
    left: -99999px;
}


/* Klapp-Mechanismus */
.messenger input:not(:checked) ~ div.messengerDetails {
    opacity: 0;
    height: 0;
}

.messenger input:checked ~ div.messengerDetails {
    position: relative;
    opacity: 1;
    color: #54A0FF;
    height: 3em;
    border-radius: 0.3rem;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}






/* Gestaltung */
.messenger label {
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 4rem;
    width: 4rem;
    background-color: #54A0FF;
    color: #FFF;
    box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0,0,0,0.2);
    border-radius: 2rem;
    font-size: 3rem;
    vertical-align: middle;
    text-align: center;
    transition: 0.8s;
}



.messenger input:checked ~ label {
    width: 10rem;
    height: 18rem;
    background-color: #FFF;
    border: #54A0FF thin solid;
    color: #000;
    
}
.messenger label:hover {
	background-color: rgba(14,162,172,1.00);
}






@media only screen and (max-width: 1024px) {
.leistung-grids {
    display: grid;
    grid-template-columns: 1fr;
}
    
}










/* Links */

a, a:active, a:focus  {
  color: #00C0CC;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
    text-decoration: none;
}
a:hover{
  color: #DDD;
  outline: none;
  text-decoration: none;
}


/* Menue */

div.nav > a, a:active, a:focus  {
  color: #000;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
    text-decoration: none;
}
div.nav > a:hover{
  color: #00C0CC;
  outline: none;
  text-decoration: none;
    boder-bottom: 0.2em #00C0CC solid;
}

