@charset "UTF-8";
/* CSS Document */
body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    color: #FFF;
}

wrapper {
    width: 100%;
}

.top {
    height: 90%;
    color: #000;
}


nav {
    text-align: right;
    margin-top: 0.5rem;
    margin-right: 1rem;
}


div.nav {
    display: inline-block;
    margin: 1em 1em;
}
.first{
    margin: 15% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* spalten */

}

.topLogo {
    display: inline-block;
    width: 90%;
}

.claim {
    display: inline-block;
    vertical-align: bottom;
    margin-top: auto;
    font-size: 2.5rem;    
    text-align: right;

}
.claim > p {
    margin:0;
}

.point {
    font-size: 1.5rem;
    color: #00C0CC;
    vertical-align: baseline;
}


div.pfeil {
    width: 4rem;
    margin: 4em auto;
}


/* Leistungen */

.leistungen {
    margin-top: 6em;
    background-color: #282B2B;
    width: auto;
    padding: 2em 15%;
}

.leistungenGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
}



.messenger {

}


/* Auf- und zuklappen */

/* .messenger {
    position: relative;
    border-width: 0 0 thin 0;
	border-style: solid;
	border-color: rgba(227,145,37,1); 
	width: 100%;
	display: block;
	font-size: 1em;
} */
 
/* Ausblenden des input-Feldes */
.messenger input {
    position: absolute;
    left: -99999px;
}


/* Klapp-Mechanismus */
.messenger input:not(:checked) ~ div.messengerDetails {
    opacity: 0;
    height: 0;
}

.messenger input:checked ~ div.messengerDetails {
    position: relative;
    opacity: 1;
    color: #54A0FF;
    height: 3em;
    border-radius: 0.3rem;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}






/* Gestaltung */
.messenger label {
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 4rem;
    width: 4rem;
    background-color: #54A0FF;
    color: #FFF;
    box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0,0,0,0.2);
    border-radius: 2rem;
    font-size: 3rem;
    vertical-align: middle;
    text-align: center;
    transition: 0.8s;
}



.messenger input:checked ~ label {
    width: 10rem;
    height: 18rem;
    background-color: #FFF;
    border: #54A0FF thin solid;
    color: #000;
    
}
.messenger label:hover {
	background-color: rgba(14,162,172,1.00);
}






@media only screen and (max-width: 1024px) {
.leistung-grids {
    display: grid;
    grid-template-columns: 1fr;
}
    
}










/* Links */

a, a:active, a:focus  {
  color: #54A0FF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
    text-decoration: none;
}
a:hover{
  color: #DDD;
  outline: none;
  text-decoration: none;
}


